@model WebAppPresidentes.Models.Entidades.Conyuge

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Conyuge</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConyuge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConyuge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreConyuge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreConyuge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoConyuge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoConyuge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ListadoConyuge" role="button" class="btn btn-info text-white">Listado</a>
    </form>
</div>
