@model WebAppPresidentes.Models.Entidades.Conyuge

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conyuge</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConyuge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConyuge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreConyuge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreConyuge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoConyuge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoConyuge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>
    </dl>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a class="btn btn-info btn-sm text-white" role="button" asp-action="Edit"
       asp-route-id="@Model.IdConyuge">Edit</a>

    <a class="btn btn-success btn-sm" role="button" asp-action="ListadoConyuge">Listado</a>
</div>
