@model WebAppPresidentes.Models.Entidades.Profesion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Profesion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfesion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfesion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProfesion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProfesion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidad)
        </dd>
    </dl>
</div>
<br>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a class="btn btn-info btn-sm text-white" role="button" asp-action="Edit"
       asp-route-id="@Model.IdProfesion">Edit</a>

    <a class="btn btn-success btn-sm" role="button" asp-action="ListadoProfesion">Listado</a>
</div>
